.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 35px;
    width: auto;
    border: 2px solid grey;
    border-radius: 35px;
}
button{
    font-size: 40px;
    background-color: aqua;
    width: 92px;
    height: 58px;
    border-radius: 20px;
}